.navbar{
  background-color: #fafafa;
  background-image: -moz-linear-gradient(top, #4c7cb2, #224d78);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4c7cb2), to(#224d78));
  background-image: -webkit-linear-gradient(top, #4c7cb2, #224d78);
  background-image: -o-linear-gradient(top, #4c7cb2, #224d78);
  background-image: linear-gradient(to bottom, #4c7cb2, #224d78);
  background-repeat: repeat-x;
  filter:      progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4c7cb2', endColorstr='#ff224d78', GradientType=0);
  border-top:der-radius: 0px;
  -moz-border-radius: 0px;
}
.navbar-header .ace-nav>li{
  border-left: 1px solid #6787B1;
}
.ace-file-input,
.ace-file-input .ace-file-container
{
  height: 34px;
  margin: 0;
}

.ace-file-input .ace-file-container:before{
  line-height: 28px;
}

.ace-file-input .ace-file-container .ace-file-name:after{
  line-height: 32px;
}
