@font-face{
font-family:'vetis';
src:url('../fonts/vetis.eot?v=0.3');
src:url('../fonts/vetis.eot?#iefix') format('embedded-opentype'),
url('../fonts/vetis.woff?v=0.3') format('woff'),
url('../fonts/vetis.ttf?v=0.3') format('truetype'),
url('../fonts/vetis.svg?v=0.3#vetis') format('svg');
font-weight:normal;font-style:normal;
}
.vet{
display:inline-block;
font-family:vetis;
font-style:normal;
font-weight:normal;
line-height:1;
-webkit-font-smoothing:antialiased;
-moz-osx-font-smoothing:grayscale;
font-size: 16px;
}
.vet-vetis:before{
	content:"\f000";
}
.vet-eagle:before{
	content:"\f002";
}
.vet-eagle-detail:before{
	content:"\f001";
}
.vet-2x{
	font-size: 32px;
}
.vet-4x{
	font-size: 64px;
}
.vet-6x{
	font-size: 128px;
}
.vet-68x{
	font-size: 256px;
}
.vet-spin{
	-webkit-animation:spin 2s infinite linear;
	-moz-animation:spin 2s infinite linear;
	-o-animation:spin 2s infinite linear;
	animation:spin 2s infinite linear
}@-moz-keyframes spin{0%{-moz-transform:rotate(0deg)}100%{-moz-transform:rotate(359deg)}}@-webkit-keyframes spin{0%{-webkit-transform:rotate(0deg)}100%{-webkit-transform:rotate(359deg)}}@-o-keyframes spin{0%{-o-transform:rotate(0deg)}100%{-o-transform:rotate(359deg)}}@-ms-keyframes spin{0%{-ms-transform:rotate(0deg)}100%{-ms-transform:rotate(359deg)}}@keyframes spin{0%{transform:rotate(0deg)}100%{transform:rotate(359deg)}}
.vet-rotate-90{filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=1);-webkit-transform:rotate(90deg);-moz-transform:rotate(90deg);-ms-transform:rotate(90deg);-o-transform:rotate(90deg);transform:rotate(90deg)}
.vet-rotate-180{filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);-ms-transform:rotate(180deg);-o-transform:rotate(180deg);transform:rotate(180deg)}.